main {
	position: absolute;
	top: 85px;
	bottom: 0;
	width: 100%;
}

.options-bar {
	height: 60px;
}

.grid-options {
	position: relative;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-row-gap: 10px;
}
