.grid-container-news {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-areas:
		"img data";
	padding-right: 1%;
}

.currency-image-news {
	grid-area: img;
	place-self: center;
	width: 50%;
	height: auto;
}

.news-data {
	grid-area: data;
	place-self: center;
	text-align: center;
	color: black;
}
