.grid-container-currency {
	display: grid;
	grid: repeat(3, 1fr) / repeat(3, 1fr);
	grid-template-areas:
		"img name name"
		"img rates rates"
		"img rates rates";
}

.currency-image {
	grid-area: img;
	place-self: center;
	width: 70%;
	height: auto;
}

.currency-name {
	grid-area: name;
	align-self: end;
}

.currency-rates {
	grid-area: rates;
	align-self: center;
}
