.grid-nav {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas:
		"hrl value news about hrr";
}

hr {
	width: 80%;
	margin: auto;
}

.hr-left {
	grid-area: hrl;
}

.hr-right {
	grid-area: hrr;
}

.nav-tab {
	padding: 0;
	color: lightgray;
	background-color: inherit;
	border: none;
}

.value-tab {
	grid-area: value;
}

.news-tab {
	grid-area: news;
}

.about-tab {
	grid-area: about;
}

.selected-tab {
	border-bottom: 2px solid red;
}
