.grid-top-news {
	height: 125px;
	/*margin: 0 2%;*/
	padding: 2% 0;
	display: grid;
	grid-template: 1fr 2fr / repeat(3, 1fr);
	grid-template-areas:
		". title btn"
		"list list list";
	background-color: white;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	box-sizing: border-box;
}

.btn-refresh {
	grid-area: btn;
	place-self: start center;
	width: 65%;
	height: 55%;
}

.top-news-title {
	grid-area: title;
	place-self: center;
	margin: 0;
	font-size: 1.2em;
	color: black;
}

a {
	text-decoration: none;
}

.top-news-list {
	grid-area: list;
	place-self: start center;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

.top-news-list li:not(:last-child) {
	margin-bottom: 2%;
}

.grid-news-list {
	position: absolute;
	top: 124px;
	bottom: 5%;
	display: grid;
	grid-template: repeat(4, 1fr) / auto;
	grid-gap: 2%;
	/*margin: 0 2%;*/
	padding-bottom: 2%;
	background-color: white;
	border-bottom-left-radius: 5%;
	border-bottom-right-radius: 5%;
}
