.search-list-wrapper {
	position: absolute;
	top: 30px;
	left: -10%;
	right: -10%;
	z-index: 1;
	background-color: cornflowerblue;
	color: black;
	border: 1px solid black;
	border-radius: 5%;
}

.btn {
	background-color: inherit;
	color: lightgray;
	border: none;
	font-weight: bold;
}

.grid-container-selected {
	display: grid;
	grid-template: 1fr 1fr / repeat(4, 1fr);
	grid-gap: 5px;
	margin: 2%;
	margin-bottom: 3%;
}

.grid-item-done {
	grid-column-start: 4;
	place-self: start end;
	background-color: inherit;
	border: none;
	color: red;
}

.selected-currency {
	grid-row-start: 2;
	grid-auto-flow: column;
	font-size: 14px;
	color: white;
	padding: 0;
}

.hr-select {
	border-color: darkgray;
}

.grid-container-filtered {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px 5px;
	margin: 2%;
	margin-top: 3%;
}

.loading, .maxed-out {
	grid-column: span 3;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 37px;
}
