html, body, #root {
	margin: 0;
	height: 100%;
}

h1 {
	margin-top: 0;
}

header {
	height: 20%;
}

main {
	height: 80%;
}

.options-bar {
	height: 10%;
}

.selected-tab {
	border-bottom: 2px solid red;
}

.selected-currency {
	color: blue;
}
