html, body, #root {
	margin: 0;
	height: 100%;
}

body {
	font-family: sans-serif;
	color: white;
	background-color: blue;
}

.selected-tab {
	border-bottom: 2px solid red;
}

.selected-currency {
	color: blue;
}
