html, body, #root {
	margin: 0;
	height: 100%;
}

body {
	font-family: sans-serif;
	color: white;
	background-color: blue;
}

.selected-currency {
	color: blue;
}

/* Removes focus outline unless user is tabbing. See note in index.js */
body:not(.accessible-tabbing) button:focus,
body:not(.accessible-tabbing) input:focus {
	outline: none;
}
